.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px  rgba(153,153,153,1);
    background-color: black;
    color: aliceblue;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 9px;;
}
#display{
    text-align :right;
    height:70px;
    line-height:70px;
    padding : 16px 8px;
    font-size: 25px;
    border:0.9px solid rgb(168, 163, 163);
}
.buttons{
    display:grid;
    border-bottom: 1px solid #999;
    border-left: 1px soli #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-radius: 50%;
    margin: 5px;
}
.button{
    border: 0.5px solid #999;
    line-height:100px;
    text-align:center;
    font-size: 25px;
    cursor:pointer;
}

.last-btn{
    border: 0.5px solid #999;
    border-radius: 50%;
    line-height:100px;
    margin:5px;
    text-align:center;
    font-size: 25px;
    cursor:pointer;
    background-color: rgb(231, 163, 85);
}
#equal{
    position:relative;
    left:100px;
}
#zero{
    border-radius: 30%;
    margin-right: -80px;
    height: 100px;
}
#decimal{
    position:relative;
    left:94px;
}
.button:hover{
    background-color: #999;
    color:white;
    transition: 0.5s ease-in-out;
}